
.maincolor{
    background-color: #052864;
    
}
.text-maincolor{
    color: #052864;
    
}
.dropdown-item:active {
    background-color: #157347 !important;
}
.go-back-link {
    color: #157347;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .go-back-link:hover {
    text-decoration: underline;
  }
  